.todo {
  width: 700px;
  height: auto;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid rgba(197,197,197);
  border-radius: 8px;
}

.title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.button {
  padding: 10px 18px;
  font-size: 20px;
  color: rgba(23,23,65);
  transition: all 0.5s;
  border: 8px;
  cursor: pointer;
}

.button:active{
  transform: translateY(-10px);
}
.input{
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  outline-color: rgba(23, 23, 65);
  margin-bottom: 20px;
}
.card{
  margin-top: 20px;
}
.item{
  width: 100%;
  padding: 20px;
  color: #fff;
  border: 1px solid rgba(197, 197, 197);
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.item p{
  font-size: 18px;
  text-transform: uppercase;
}

.delBtn button{
  padding: 10px 15px;
  background-color: red;
  color: white;
}